* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#polaroid {
    border-radius: 0;

    img {
        border-radius: 0;
    }
}

main {
    background-image: url(../assets_day1/img/cork.png);
}

header {
    background-image: url(../assets_day1/img/wall.png);
}

.card {
    cursor: pointer;
}